body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-family: 'Source Sans Pro';
}
h2 {
  font-family: 'Source Sans Pro';
}
h3 {
  font-family: 'Source Sans Pro';
}
h4 {
  font-family: 'Source Sans Pro';
}
h5 {
  font-family: 'Source Sans Pro';
}
h6 {
  font-family: 'Source Sans Pro';
}
p {
  font-family: 'Source Sans Pro';
}
div {
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
}
.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maxWidth {
  width: 1200px;
  /* max-width: 1200px; */
}
.flex-column {
  flex-direction: column;
}

.opacity:hover {
  opacity: 0.4;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* SLIDER DE CONTACTOS ******************************/

/* @media (max-width: 768px) {
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
} */


.slick-slider { /* Para las arrow < > add flex */

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}


.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 42px;
    height: 90px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 99999;
}

.slick-next {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 42px;
    height: 90px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  /* border-radius: 50%;*/
  opacity: 0.6;
  margin-right: 50px;
}

.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 42px;
  height: 90px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: transparent;
  /*border-radius: 50%;*/
  opacity: 0.6;
  margin-left: 50px;
  z-index: 99999;

  opacity: 0.6;
}

.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  line-height: 1;
  opacity: 0.6;
  color: black;
  background: transparent;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
  display: none;
}
@media (max-width: 1150px) {
  .slick-prev {
    margin-left: 30px;
  }
}
@media (max-width: 1150px) {
  .slick-next {
    margin-right: 30px;
  }
}
@media (max-width: 992px) {
  .slick-prev {
    margin-left: 45px;
  }
}
@media (max-width: 992px) {
  .slick-next {
    margin-right: 45px;
  }
}
@media (max-width: 720px) {
  .slick-prev {
    margin-left: 40px;
  }
}
@media (max-width: 720px) {
  .slick-next {
    margin-right: 40px;
  }
}
@media (max-width: 620px) {
  .slick-prev {
    margin-left: 35px;

    width: 30px;
    height: 30px;
  }
}
@media (max-width: 620px) {
  .slick-next {
    margin-right: 35px;

    width: 30px;
    height: 30px;
  }
}
.slick-prev polygon {
fill:#0047ba;
color:#0047ba;
}
.slick-next polygon {
  fill:#0047ba;
  color:#0047ba;
}



